# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
*-bak
*-bak*
*~
~*
_autosave-*
\#auto_saved_files\#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Archived Backups (KiCad 6.0)
**/*-backups/*.zip

# Local git-based history (KiCad 9.0+)
.history

# Local project settings
*.kicad_prl

# ==========================================
# Microchip MPLAB X & MPLAB
# ==========================================


**/build/
**/dist/
**/disassembly/
**/.ext/
**/.dep/

# Ignoriere die privaten IDE-Benutzereinstellungen (Pfade, geöffnete Fenster, etc.)
**/nbproject/private/
*.user
*.bak
*.bkx


*.o
*.obj
*.ko
*.elf
*.cof
*.d
*.p1
*.pre
*.sym
*.lst
*.mcs
*.mcp
*.map
*.err

# Logs und automatische Backups der IDE
*.log
*.inx
*.tmp
/Firmware/Simple_Pic12F508_Blinky_ASM.X/build/
/Firmware/Simple_Pic12F508_Blinky_ASM.X/dist/
/Firmware/Simple_Pic12F508_Blinky_ASM.X/Makefile
/Firmware/Simple_Pic12F508_Blinky_ASM.X/nbproject/Makefile-*.mk
/Firmware/Simple_Pic12F508_Blinky_ASM.X/nbproject/Makefile-genesis.properties
!/Firmware/Simple_Pic12F508_Blinky_ASM.X/nbproject/configurations.xml
!/Firmware/Simple_Pic12F508_Blinky_ASM.X/nbproject/project.xml
/Firmware/Simple_Pic12F508_TrafficLight_ASM.X/dist/
/Firmware/Simple_Pic12F508_TrafficLight_ASM.X/build/